// Global
* {
    all: unset;
}

// Variable Color's
$foreground: #c4bfe1;
$background: #12101e;

$black: #1B152C;
$gray: #2D284A;
$red: #E68C9C;
$green: #A3DE95;
$yellow: #F5D084;
$blue: #82A5D0;
$magenta: #D39FDB;
$cyan: #7AC9C1;
$white: #dbe6d9;

.eww-bar {
    background-color: $background;
    padding: 0.5rem;
}

.powermenu {
    font-family: Delugia Book;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.lock {
    color: $green;
}

.reboot {
    color: $yellow;
}

.poweroff {
    color: $red;
    margin-right: 0.5rem;
}

.workspaces {
    min-height: 1.9rem;
    font-family: Delugia Book;
    font-size: 1.1rem;
    background-color: $black;
    border-radius: 10px;
    padding: .3rem 1rem;
}

.workspace {
    color: $gray;
}

.active {
    color: $foreground;
}

.focused {
    color: $blue;
}

progressbar trough {
    all: unset;
    background-color: $gray;
    border-radius: 5px;
    min-height: 10px;
    min-width: 100px;
}

trough progress {
    border-radius: 5px;
    min-height: 10px;
}

// battery
.Discharging trough progress {
    background-color: $yellow;
}

.Charging trough progress {
    background-color: $magenta;
}

.Full trough progress {
    background-color: $green;
}

.ram > trough progress {
    background-color: $cyan;
}

.control {
    min-height: 1.9rem;
    font-family: Delugia Book;
    font-size: 1.1rem;
    color: $foreground;
    background-color: $black;
    border-radius: 10px;
    margin-right: 0.5rem;
    padding: .3rem 1rem;
}

.wifi-connected {
    color: $magenta;
}

.wifi-disconnected {
    color: $gray;
}

.wifi-name {
    margin-left: 0.5rem;
}

scale trough {
    all: unset;
    background-color: $background;
    border-radius: 5px;
    min-height: 10px;
    min-width: 80px;
    margin-left: 0.5rem;
}

.brightness-icon{
    color: $yellow;
}

.brightness-bar trough highlight {
    background-color: $yellow;
    border-radius: 5px;
}

.volume-bar trough highlight {
    background-color: $green;
    border-radius: 5px;
}

.volume-icon{
    color: $green;
}

.time {
    font-family: TypoPRO Lato;
    font-weight: bold;
    font-size: 1.5rem;
    color: $foreground;
    animation-timing-function: linear;
    animation-timing-function: linear;
}
